@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;

400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.nav {
  background-color: transparent;
  padding: 10px 0;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.nav__item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.01em;
  color: #242323;
}

.nav__item-link:hover {
  color: #ebd96b;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.nav__menu {
  display: none;
}

.nav__btn {
  background: #000000;
  border-radius: 7px;
  padding: 13px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-left: 30px;
  color: #fefefe;
}

.nav__burger {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.nav__burger .bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: #000;
}

.nav__burger .bar:nth-of-type(2) {
  top: calc(50% - 5px);
}

.nav__burger .bar:nth-of-type(3) {
  top: calc(50% + 5px);
}

.hero__box {
  position: relative;
  max-width: 1720px;
  border-radius: 59px;
  background-color: #f4f6f5;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  padding-left: 81px;
  padding-top: 50px;
}

.hero__img {
  width: 780px;
}

.hero__title {
  max-width: 474px;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 90px;
  padding-bottom: 40px;
}

.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #191818;
}

.btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 34px;
     -moz-column-gap: 34px;
          column-gap: 34px;
  margin-bottom: 100px;
}

.line {
  width: 130px;
  height: 31px;
}

.hero__btn {
  background: #000000;
  border-radius: 10px;
  padding: 15px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.05em;
  color: #fff;
}

.star {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 450px;
  top: 70px;
}

.star2 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 550px;
  left: 570px;
}

.star3 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70px;
  left: 1000px;
}

.star4 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1070px;
  top: 550px;
}

.unique {
  background-color: #ebd96b;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.lets {
  background-color: #fff;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.sponsors {
  padding: 60px 0;
}

.sponsors__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebd96b;
  padding: 60px 0;
}

.sponsors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 60px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.fashion {
  padding-bottom: 150px;
}

.fashion__container {
  max-width: 1630px;
  padding: 0 50px;
}

.fashion__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.06em;
  padding-bottom: 100px;
}

.fashion__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.fashion__card {
  max-width: 400px;
}

.card-img {
  margin-bottom: 28px;
}

.card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #191919;
}

.card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #7f7f7f;
}

.content__btn:active {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.banner {
  width: 100%;
  background: -o-linear-gradient(88.68deg, #e0c340 0.13%, #dfc23e 3.97%, #e1c441 7.2%, #e3c743 10.13%, #e4c542 12.98%, #e6c744 15.99%, #e7c845 19.52%, #e5c643 23.96%, #e6c945 30.43%, #e3c743 36.49%, #e9ca48 42.49%, #edce49 49.35%, #f0d44c 55.42%, #f4d84f 61.43%, #f6da52 65.74%, #f7db53 72.23%, #f9dd55 77.43%, #f9df56 83.84%, #fae157 91.52%, #f9df56 97.87%);
  background: linear-gradient(1.32deg, #e0c340 0.13%, #dfc23e 3.97%, #e1c441 7.2%, #e3c743 10.13%, #e4c542 12.98%, #e6c744 15.99%, #e7c845 19.52%, #e5c643 23.96%, #e6c945 30.43%, #e3c743 36.49%, #e9ca48 42.49%, #edce49 49.35%, #f0d44c 55.42%, #f4d84f 61.43%, #f6da52 65.74%, #f7db53 72.23%, #f9dd55 77.43%, #f9df56 83.84%, #fae157 91.52%, #f9df56 97.87%);
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__img {
  width: 650px;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 36px;
}

.banner__title {
  max-width: 593px;
  font-style: normal;
  font-weight: 900;
  font-size: 90.608px;
  line-height: 107px;
}

.banner__text {
  max-width: 500px;
  font-style: normal;
  font-weight: 500;
  font-size: 26.0402px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #231300;
}

.banner__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.date-title {
  font-style: normal;
  font-weight: 700;
  font-size: 26.0402px;
  line-height: 38px;
  letter-spacing: 0.02em;
}

.date__text {
  font-style: normal;
  font-weight: 400;
  font-size: 26.0402px;
  line-height: 38px;
  letter-spacing: -0.02em;
}

.banner__btn-btn {
  background: #000000;
  border-radius: 10px;
  padding: 15px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #fff;
}

.favourite {
  padding: 150px 0;
}

.favourite__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.06em;
  margin-bottom: 100px;
}

.favourite__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}

.favourite__card {
  max-width: 534px;
}

.favourite__card-img {
  margin-bottom: 28px;
}

.favourite__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.content__text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #7f7f7f;
}

.content__btn:active {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.app-banner {
  padding-bottom: 130px;
}

.app-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.app-banner__img {
  width: 400px;
}

.app-banner__content-title {
  max-width: 480px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.06em;
  margin-bottom: 41px;
}

.app-banner__content-text {
  max-width: 419px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #7c7c7c;
  margin-bottom: 65px;
}

.app-banner__content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
}

.promo__container {
  padding: 100px 0;
  background: #e5c643;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__title {
  max-width: 840px;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 25px;
}

.promo__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #fffcf8;
  margin-bottom: 50px;
}

.promo__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  width: 500px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 10px;
}

.form__submit {
  position: absolute;
  right: 5px;
  background-color: #000;
  border-radius: 8px;
  padding: 7px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #ffffff;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 100px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}

.footer__content-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__content-text {
  max-width: 415px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #8e8e8e;
  font-family: "'Roboto', sans-serif";
}

.footer__content-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}

.footer__icon {
  background: #ebd96b;
  border-radius: 10px;
  padding: 10px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.nav__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #8e8e8e;
  font-family: "'Roboto', sans-serif";
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #d9d9d9;
  font-family: "'Roboto', sans-serif";
}

.nav__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

* {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1820px;
  padding: 0 100px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

@media (max-width: 991.98px) {
  .nav .container {
    padding: 0 30px;
  }

  .nav__item-link {
    font-size: 18px;
  }

  .nav__logo img {
    width: 180px;
  }

  .nav__wrapper .nav__list {
    display: none;
  }

  .nav__burger {
    display: block;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: #f4f6f5;
    border: 1px solid #000;
    border-radius: 10px;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .nav__menu.open {
    right: 0;
  }

  .nav__menu .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .nav__menu .nav__item-link {
    color: #000;
    font-size: 25px;
  }

  .nav__menu .nav__btn {
    color: #fff;
  }

  .nav__burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav__burger.active .bar:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .nav__burger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .hero .container {
    padding: 0 15px;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hero__img {
    width: 500px;
  }

  .star,
  .star2,
  .star3,
  .star4 {
    display: none;
  }

  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .hero__title {
    padding-bottom: 20px;
    font-size: 65px;
    line-height: 70px;
  }

  .fashion {
    padding-bottom: 100px;
  }

  .fashion__container {
    padding: 0 30px;
  }

  .fashion__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }

  .fashion__title {
    font-size: 42px;
    padding-bottom: 40px;
  }

  .banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .banner__title {
    font-size: 60px;
    line-height: 75px;
  }

  .banner__text {
    font-size: 19px;
    line-height: 30px;
    max-width: 400px;
  }

  .date-title {
    font-size: 21px;
    line-height: 30px;
  }

  .date__text {
    font-size: 21px;
    line-height: 30px;
  }

  .banner__btn {
    margin-bottom: 50px;
  }

  .banner__content {
    text-align: center;
  }

  .banner__text {
    margin: 0 auto;
  }

  .banner__btn-btn {
    font-size: 17px;
  }

  .banner__img {
    width: 70%;
    margin-bottom: 30px;
  }

  .favourite {
    padding: 80px 0;
  }

  .favourite .container {
    padding: 0 30px;
  }

  .favourite__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .favourite__title {
    margin-bottom: 40px;
  }

  .app-banner__container {
    padding: 0 30px;
  }

  .footer .container {
    padding: 0 30px;
  }
}

@media (max-width: 767.98px) {
  .app-banner__content-title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .app-banner__content-text {
    margin-bottom: 40px;
  }

  .promo__title {
    font-size: 35px;
    line-height: 45px;
    max-width: 600px;
  }

  .promo__subtitle {
    text-align: center;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 60px;
  }

  .footer__icon {
    margin: 0 auto;
  }
}

@media (max-width: 549.08px) {
  .hero__img {
    display: none;
  }

  .star,
  .star2,
  .star3,
  .star4 {
    display: none;
  }

  .hero__content {
    padding-left: 0;
    padding-top: 50px;
  }

  .hero__title {
    margin: 0 auto;
  }

  .sponsors__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .fashion__title {
    text-align: center;
    font-size: 30px;
  }

  .banner {
    padding: 60px 0;
  }

  .banner__img {
    display: none;
  }

  .favourite__title {
    font-size: 30px;
    text-align: center;
  }

  .app-banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .app-banner__img {
    width: 350px;
  }

  .app-banner__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .app-banner__content-title {
    font-size: 30px;
    line-height: 35px;
  }

  .app-banner__content-text {
    font-size: 18px;
    line-height: 26px;
  }

  .form__input {
    width: 350px;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }
}

@media (max-width: 479.98px) {
  .nav .container {
    padding: 0 15px;
  }

  .nav__logo img {
    width: 130px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 60px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 30px;
    max-width: 300px;
    padding-bottom: 25px;
  }

  .line {
    display: none;
  }

  .card-title {
    font-size: 22px;
  }

  .banner__title {
    font-size: 50px;
    line-height: 60px;
  }

  .favourite .container {
    padding: 0 16px;
  }

  .app-banner__container {
    padding: 0 16px;
  }

  .app-banner__content-title {
    max-width: 350px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .app-banner__content-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .promo__subtitle {
    max-width: 270px;
    line-height: 25px;
    font-size: 18px;
  }

  .promo__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .form__submit {
    position: static;
  }

  .form__input {
    width: 250px;
  }
}

@media (max-width: 399.98px) {
  .favourite__title {
    max-width: 300px;
    line-height: 40px;
  }

  .content__title {
    font-size: 20px;
    line-height: 30px;
  }
}